.cart {
  @include offset;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78px;
  border-bottom: 1px solid $bordercolor;
}

.cart__wrapper {
  width: 100% / (320 / 75);
}

.cart__icon {
  padding-top: 4px;
  padding-left: 4px;
}

.cart__title {
  @include offset;
  width: 100% / (320 / 245);
  text-align: left;
}

@media (min-width: $tablet-width) {
  .cart {
    width: 263px;
    min-height: 88px;
    justify-content: flex-start;
    border-bottom: none;
  }

  .cart__wrapper {
    width: auto;
    padding-left: 27px;
    padding-right: 30px;
  }

  .cart__title {
    width: auto;
  }
}
