.catalog {
  @include offset;
}

.catalog__list {
  @include offset;
  list-style: none;
}

.catalog__item {
  border-bottom: 1px solid #ececec;
}

.catalog__link {
  text-decoration: none;
  color: #000000;
}

.catalog__product-title {
  @include offset;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__product-description {
  @include offset;
  font-size: 13px;
  color: #444444;
  border-bottom: 1px solid #ececec;
}
