.developer {
  text-align: center;
  height: auto;
}

.developer__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
  margin-right: 25px;
}

.developer__logotype {
  display: inline-block;
  vertical-align: top;
}
