.form {
  margin: 0;
}

.form__type {
  &--radio {
    margin-bottom: 11px;
  }

  &--checkbox {
    margin-bottom: 11px;
  }

  &--input {
    margin-bottom: 31px;
  }

  &--number {
    margin-bottom: 32px;
  }

  &--email {
    margin-bottom: 32px;
  }

  &--textarea {

  }
}

.form__title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;


  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $aquamarine;
    margin-left: 26px;
  }

  &--type {
    margin-bottom: 24px;
  }

  &--color {
    margin-bottom: 24px;
  }

  &--name {
    margin-bottom: 29px;
  }

  &--telephone {
    margin-bottom: 7px;
  }

  &--email {
    margin-bottom: 7px;
  }

  &--additional {
    margin-bottom: 25px;
  }
}

.form__title-modify {
  color: $aquamarine;
  text-transform: uppercase;
  white-space: nowrap;
}

.form__list {
  margin: 0;
  padding-left: 0;
  padding: 0;
  list-style: none;
}

.form__point {
  min-height: 36px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 9px 20px 15px 62px;
  cursor: pointer;
  outline: none;

  &::before {
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid rgb(68, 68, 68);
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    display: none;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $aquamarine;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &:hover::before,
  &:focus::before {
    border-color: $aquamarine;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form__checkbox {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 12px 20px 31px 62px;
  cursor: pointer;
  outline: none;

  &::before {
    display: block;
    content: "";
    width: 36px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(68, 68, 68);
  }

  &::after {
    display: none;
    content: "";
    width: 22px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 12px;
    left: 9px;
    margin: auto;
  }

  &:hover::before,
  &:focus::before {
    border-color: $aquamarine;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form__name-item {
  margin-bottom: 22px;
}

.form__text {
  display: block;
  margin: 0;
  padding: 0;
}

.form__initials {
  width: 100%;
  display: block;
  padding: 0;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
}

.form__input{
  width: 100%;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 2px solid #000000;
  font-family: $mianfont;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  &::placeholder {
    font-family: $mianfont;
    opacity: 0.3;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  &--telephone {
    height: 20px;
    font-size: 19px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 15px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }

  &--message {
    margin-bottom: 16px;
    border: 2px solid #000000;
    height: 142px;
    padding: 13px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }

  &:hover {
    border-color: $aquamarine;
  }

  &:focus {
    outline: none;
    border-color: $aquamarine;
    color: #444444;
  }

  &:hover ~ .form__icon,
  &:focus ~ .form__icon {
    fill: $aquamarine;
    opacity: 1;
  }
}

.form__input-field {
  position: relative;
}

.form__icon {
  position: absolute;
  opacity: 0.2;

  &--telephone {
    right: 5px;
    top: 10px;
  }

  &--email {
    right: 5px;
    top: 10px;
  }
}

.form__requare-input {
  display: block;
  font-size: 14px;
  color: $maingrey;
  line-height: 16px;
  margin-bottom: 31px;
}

.form__button {
  margin-bottom: 55px;
}

.form__input:checked ~ .form__point::after,
.form__input:checked ~ .form__checkbox::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .form__type {
    &--radio {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 26px;
    }

    &--checkbox {
      padding-top: 50px;
      padding-bottom: 26px;
      margin-bottom: 66px;
      display: flex;
      background-color: #f1f1f1;
      align-items: flex-start;
    }

    &--input {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;
    }

    &--number {
      display: flex;
      background-color: #f1f1f1;
      margin-bottom: 0;
      padding-top: 47px;
      padding-bottom: 21px;
    }

    &--email {
      display: flex;
      background-color: #f1f1f1;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }

    &--textarea {
      display: flex;
      align-items: flex-start;
    }
  }

  .form__point {
    min-width: 401px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;
    flex-grow: 1;

    &::before {
      width: 48px;
      height: 48px;
    }

    &::after {
      width: 22px;
      height: 22px;
      top: 15px;
      left: 15px;
    }
  }

  .form__checkbox {
    padding-top: 15px;
    padding-bottom: 28px;
    padding-left: 80px;
    font-size: 19px;
    line-height: 18px;

    &::before {
      width: 50px;
      height: 48px;
    }

    &::after {
      width: 33px;
      height: 22px;
      top: 15px;
      left: 11px;
    }
  }

  .form__title {
    &::after {
      display: none;
    }

    &--type {
      flex-grow: 1;
      min-width: 147px;
      padding-top: 18px;
      padding-right: 20px;
    }

    &--color {
      flex-grow: 1;
      min-width: 147px;
      padding-top: 18px;
      padding-right: 20px;
    }

    &--name {
      flex-grow: 1;
      min-width: 147px;
      padding-right: 20px;
    }

    &--telephone {
      min-width: 147px;
      padding-right: 20px;
      margin-bottom: 0;
    }

    &--email {
      min-width: 147px;
      padding-right: 20px;
      margin-bottom: 0;
    }

    &--additional {
      min-width: 147px;
      padding-right: 20px;
      padding-top: 17px;
    }
  }

  .form__list {
    &--color {
      min-width: 501px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 1;
    }

    &--name {
      flex-grow: 1;
      min-width: 501px;
    }
  }

  .form__text {
    display: flex;
    justify-content: flex-start;
  }

  .form__color-item {
    min-width: 239px;
    margin-right: 23px;
    margin-bottom: 15px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .form__initials {
    font-size: 19px;
    line-height: 18px;
    display: block;
    width: auto;
  }

  .form__input {
    padding-top: 0;
    padding-bottom: 14px;
    margin-left: 25px;
    padding-left: 16px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }

    &--telephone,
    &--email {
      margin-left: 0;
      padding-top: 17px;
      padding-bottom: 16px;
      padding-right: 50px;
      background-color: #f1f1f1;
      font-size: 19px;
      min-width: 435px;
    }

    &--message {
      min-width: 401px;
      margin-left: 0;
      padding-top: 14px;
      order: 1;
      margin-bottom: 53px;
    }
  }

  .form__input-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
  }

  .form__icon {
    &--email {
      top: 14px;
      right: 22px;
    }
    &--telephone {
      top: 13px;
      right: 26px;;
    }

  }

  .form__name-item {
    margin-bottom: 40px;
  }

  .form__requare-input {
    order: 3;
    font-size: 17px;
    line-height: 30px;
    margin-top: 9px;
    margin-bottom: 63px;
    flex-grow: 1;
  }

  .form__button {
    order: 2;
    width: 230px;
    align-self: flex-start;
    margin-left: -167px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__type {
    &--radio {
      justify-content: flex-start;
    }

    &--checkbox {
      padding-top: 48px;
    }
  }

  .form__title {
    min-width: 155px;
    max-width: 155px;
    flex-grow: 0;
    justify-content: center;

    &--type {
      padding-top: 17px;
      padding-right: 16px;
      padding-left: 4px;
    }

    &--color {
      justify-content: center;
      padding-top: 17px;
      padding-right: 16px;
      padding-left: 4px;
    }

    &--name {
      padding-top: 2px;
      padding-right: 16px;
      padding-left: 4px;
    }

    &--email {
      padding-top: 6px;
      padding-right: 8px;
      padding-left: 12px;
    }

    &--additional {
      padding-top: 17px;
      padding-right: 16px;
      padding-left: 4px;
    }
  }

  .form__title-modify {
    white-space: pre-wrap;
  }

  .form__point {
    flex-grow: 0;
    min-width: auto;
    width: 875px;
  }

  .form__input {
    &--telephone,
    &--email {
      width: 634px;
    }
    &--message {
      width: 700px;
      margin-bottom: 49px;
    }
  }

  .form__icon {
    &--telephone {
      right: 183px;
    }

    &--email {
      right: 180px;;
    }
  }

  .form__list {
    &--color {
      width: 875px;
      flex-grow: 0;
      justify-content: flex-start;
    }
  }

  .form__color-item {
    width: 240px;
    min-width: auto;

    &:nth-child(2n) {
      margin-right: 23px;
    }
  }

  .form__button {
    margin-left: 0;
  }

  .form__requare-input {
    margin-left: 170px;
  }
}
