.logotype-academy {
  @include offset;
  display: inline-block;
  vertical-align: top;
}

.logotype-academy__icon {
  vertical-align: bottom;
  margin-top: 4px;
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .logotype-academy__icon {
    margin-top: 2px;
  }
}
