.manufacturing {
  border: 1px solid $bordercolor;
}

.manufacturing__heading {
  text-decoration: none;
  display: flex;
  padding: 0 27px;
  align-items: flex-start;
  padding-top: 24px;
  margin-bottom: 24px;
  color: #000000;
}

.manufacturing__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.manufacturing__icon {
  fill: $aquamarine;
  margin: 4px 27px 0 6px;
  width: 42px;
  height: 32px;
}

.manufacturing__video {
  margin-bottom: 17px;
  background: url("../img/video-mobile@1x.jpg") no-repeat center center;
  background-size: cover;
}

.manufacturing__comment {
  margin: 0 0 25px 0;
  padding: 0 34px 0 34px;
  font-size: 13px;
  color: $maingrey;
  line-height: 24px;
}

.manufacturing__button {
  margin: 0 33px 32px 33px;
}

@media (min-width: $tablet-width) {
  .manufacturing {
    display: flex;
    flex-direction: column;
  }

  .manufacturing__video {
    background: url("../img/video-tablet@1x.jpg") no-repeat center center;
    order: 1;
    width: 668px;
    height: 455px;
  }

  .manufacturing__heading {
    order: 2;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 26px;
  }

  .manufacturing__icon {
    margin-top: -3px;
  }

  .manufacturing__comment {
    order: 3;
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 36px;
  }

  .manufacturing__button {
    order: 4;
    margin: 0 40px 44px 40px;
  }

  .manufacturing__title {
    font-size: 20px;
    line-height: 24px;

  }
}

@media (min-width: $desktop-width) {
  .manufacturing {
    width: 1048px;
    min-height: 453px;
    position: relative;
  }

  .manufacturing__video {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  .manufacturing__heading {
    width: 200px;
    padding-top: 43px;
    padding-left: 77px;
    padding-right: 89px;
    margin-left: auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
  }

  .manufacturing__title {
    width: 175px;
  }

  .manufacturing__icon {
    margin: 0;
    margin-bottom: 20px;
  }

  .manufacturing__comment {
    width: 235px;
    margin-left: auto;
    margin-bottom: 47px;
    padding: 0 54px 0 60px;
  }

  .manufacturing__button {
    width: 226px;
    margin-left: auto;
    margin-right: 57px;
  }
}
