.menu {
  list-style: none;
}

.menu__item {
  text-align: left;
  padding: 15px 30px 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;

  &--left {
    background-color: $aquamarine-l;
  }

  &--right {
    background-color: $aquamarine-r;
  }
}

.menu__link {
  margin-right: 20px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  width: 130px;
}

.menu__icon {
  &--interior {
    width: 49px;
    height: 62px;
    margin-top: 8px;
  }

  &--toy {
    width: 60px;
    height: 60px;
    margin-top: 8px;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: flex;
    width: 100%;
  }

  .menu__item {
    min-height: 86px;
    padding-left: 35px;
    width: 100%;
  }

  .menu__link {

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    &::after {
      background: url("../img/bg-zigzag-fill.svg") repeat-x center 0;
      height: 15px;
    }
  }

  .menu__item {
    display: flex;
  }

  .menu__icon {
    margin-left: auto;
    align-self: center;
  }
}
