.order-info__heading {
  @include offset;
  border: none;

  &--type {
    margin-bottom: 34px;
  }

  &--color {
    margin-bottom: 33px;
  }

  &--fullname {
    margin-bottom: 32px;
    min-height: 300px;
  }
}

.order-info__wrapper {
  min-height: 180px;
}

.order-info__title {
  @include offset;
  margin-bottom: 25px;
  border-style: none;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: $aquamarine;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $aquamarine;
    margin-left: 18px;
  }

  &--telephone {
    margin-bottom: 7px;
  }

  &--email {
    margin-bottom: 7px;
  }

  &--fullname {
    margin-bottom: 29px;
  }
}

.order-info__list {
  @include offset;
  list-style: none;
}

.order-info__item {
  margin-bottom: 5px;
}

.order-info__color {
  margin-bottom: 22px;
}

.order-info__name {
  width: 100%;
  padding: 0;
  margin: 0 0 22px 0;
}

.order-info__input {
  display: none;
}

.order-info__icon {
  position: absolute;
  opacity: 0.2;

  &--telephone {
    right: 8px;
    top: 10px;
  }

  &--email {
    right: 5px;
    top: 10px;
  }
}

.order-info__point {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 9px 20px 10px 62px;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid rgb(68, 68, 68);
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    display: none;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $aquamarine;
    position: absolute;
    top: 12px;
    left: 12px;
  }
}

.order-info__point {
  &:hover::before,
  &:focus::before {
    border-color: $aquamarine;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-info__checkbox {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 11px 20px 10px 62px;
  cursor: pointer;

  &::before {
    display: block;
    content: "";
    width: 36px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(68, 68, 68);
  }

  &::after {
    display: none;
    content: "";
    width: 22px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 12px;
    left: 9px;
    margin: auto;
  }
}

.order-info__checkbox {
  &:hover::before,
  &:focus::before {
    border-color: $aquamarine;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.order-info__container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 32px;
}

.order-info__initials {
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 1px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  position: relative;
  cursor: pointer;
}

.order-info__enter {
  @include offset;
  font-family: $mianfont;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0 12px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  outline-color: aquamarine;

  &::placeholder {
    font-family: $mianfont;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $maingrey;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-bottom-color: $aquamarine;
  }

  &:hover ~ .order-info__icon,
  &:focus ~ .order-info__icon {
    fill: $aquamarine;
    opacity: 1;
  }
}

.order-info__message {
  display: block;
  margin: 0;
  padding: 15px;
  min-height: 108px;
  border: 2px solid #000000;
  color: rgba(98, 98, 98, 0.3);
  width: calc(100% - 34px);
  font-family: $mianfont;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 14px;
  outline: $aquamarine;

  &:focus {
    color: rgba(98, 98, 98, 1);
  }

  &:hover,
  &:focus {
    border-color: $aquamarine;
  }
}

.order-info__footnote {
  display: block;
  font-size: 14px;
  color: $maingrey;
  line-height: 16px;
  margin-bottom: 32px;
}

.order-info__input:checked ~ .order-info__point::after,
.order-info__input:checked ~ .order-info__checkbox::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .order-info__heading {
    padding: 0 50px;

    &--type {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
    }

    &--color {
      padding-top: 18px;
      background-color: #f1f1f1;
      padding-bottom: 58px;
      margin-bottom: 49px;
    }

    &--fullname {
      padding-top: 10px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    &--telephone {
      padding-top: 59px;
      display: flex;
      align-items: flex-start;
      background-color: #f1f1f1;
    }

    &--email {
      display: flex;
      align-items: flex-start;
      background-color: #f1f1f1;
      padding-bottom: 20px;
      margin-bottom: 49px;
    }

    &--additional {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  .order-info__color-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .order-info__title {
    margin-top: 18px;
    word-wrap: break-word;
    min-width: 147px;
    padding-right: 20px;

    &::after {
      display: none;
    }

    &--color {
      margin-top: 50px;
    }

    &--fullname {
      margin-top: 10px;
    }

    &--telephone,
    &--email {
      margin: 9px 0 0 0;
    }

    &--additional {
      order: 1;
    }
  }

  .order-info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -23px;
  }

  .order-info__item {
    margin-bottom: 33px;
  }

  .order-info__color {
    margin-top: 33px;
    margin-bottom: 0;
    min-width: 239px;
    margin-right: 23px;
  }

  .order-info__name {
    margin-bottom: 34px;
  }

  .order-info__color:last-child {
    margin-bottom: 0;
  }

  .order-info__initials {
    padding-top: 0;
    font-size: 19px;
    line-height: 30px;
    display: flex;
  }

  .order-info__container {
    width: 100%;
  }

  .order-info__message {
    width: (467 / 668) * 100%;
    order: 2;
    margin-bottom: 52px;
  }

  .order-info__footnote {
    width: auto;
    order: 4;
    font-size: 17px;
    line-height: 30px;
    margin-left: auto;
    margin-top: 8px;
  }

  .button--order-info {
    width: 230px;
    order: 3;
    line-height: 16px;
    padding: 18px 19px 16px 19px;
  }

  .order-info__point {
    min-width: 355px;
    padding: 15px 20px 10px 81px;
    font-size: 19px;
    line-height: 18px;
    position: relative;

    &::before {
      width: 48px;
      height: 48px;
    }

    &::after {
      width: 22px;
      height: 22px;
      top: 15px;
      left: 15px;
    }
  }

  .order-info__checkbox {
    font-size: 19px;
    line-height: 18px;
    padding: 15px 20px 10px 81px;

    &::before {
      width: 50px;
      height: 48px;
    }

    &::after {
      width: 33px;
      height: 22px;
      top: 15px;
      left: 11px;
    }
  }

  .order-info__enter {
    padding: 5px 0 12px 0;
    margin-left: 25px;

    &::placeholder {
      font-size: 19px;
      line-height: 30px;
      padding-left: 15px;
    }

    &--telephone,
    &--email {
      background-color: #f1f1f1;
      margin-left: 0;
    }
  }

  .order-info__icon {
    &--telephone {
      right: 25px;
      top: 2px;
    }

    &--email {
      right: 25px;
      top: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-info__heading {
    &--type {
      width: 1034px;
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 0 8px;
    }

    &--color {
      padding-top: 50px;
      padding-bottom: 28px;
      margin-bottom: 57px;
    }

    &--fullname {
      width: 1034px;
      min-height: 228px;
      margin: 0 auto;
      margin-bottom: 17px;
      padding: 0 8px;
    }

    &--telephone {
      width: 1034px;
      margin: 0 auto;
      padding: 0 8px;
      padding-top: 59px;
      min-height: 56px;
    }

    &--email {
      width: 1034px;
      margin: 0 auto;
      margin-bottom: 49px;
      padding: 0 0 20px 16px;
      min-height: 66px;
    }

    &--additional {
      width: 1034px;
      margin: 0 auto;
      padding: 0 8px;
    }
  }

  .order-info__title {
    justify-content: center;

    &--color {
      margin-top: 16px;
    }

    &--email {
      padding-right: 0;
      margin-right: 12px;
      margin-top: 12px;
    }
  }

  .order-info__icon {
    &--telephone {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }

  .order-info__color-wrapper {
    width: 1034px;
    margin: 0 auto;
    padding: 0 8px;
  }

  .order-info__wrapper {
    width: 100%;
    background-color: #f1f1f1;
    min-height: 230px;
    margin-bottom: 47px;
  }

  .order-info__list {
    justify-content: flex-start;
    width: 1034px;
  }

  .order-info__name {
    margin-bottom: 33px;
  }

  .order-info__container {
    width: 700px;
  }

  .order-info__point {
    width: 450px;
  }

  .order-info__color:nth-child(odd) {
    margin: 0;
  }

  .order-info__color {
    min-width: 230px;
    width: 262px;
    margin: 0;
    margin-bottom: 33px;
  }

  .order-info__initials {
    width: 700px;
    min-height: 42px;
  }

  .order-info__enter {
    padding-left: 15px;
    padding-top: 2px;
    line-height: 18px;
    font-size: 19px;

    &--telephone {
      padding-bottom: 12px;
      min-height: 26px;
    }

    &--email {
      padding-bottom: 14px;
      min-height: 26px;
    }
  }

  .order-info__message {
    min-width: auto;
    width: 666px;
    flex-grow: 0;
    margin-bottom: 47px;
  }

  .button--order-info {
    margin-left: 167px;
    margin-right: 170px;
    padding-bottom: 14px;
  }

  .order-info__footnote {
    margin-left: 0;
    margin-top: 10px;
  }
}
