.page-footer {
  background-color: #f1f1f1;
}

.page-footer__inner {
  min-width: 260px;
  padding: 0 30px;
  box-sizing: border-box;
}

.page-footer__logo {
  display: none;

  &:hover,
  &:focus {
    fill: $aquamarine;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-menu {
  @include offset;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__inner {
    height: 100%;
    padding: 28px 50px 35px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    margin-right: 80px;
    padding-top: 23px;
    padding-bottom: 23px;
    height: 34px;
    width: 102px;
  }

  .page-footer__copyright {
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 29px 50px 34px 50px;
    min-height: 143px;
  }

  .page-footer__social-menu {
    padding-top: 0;
  }
}
