.player {
  position: relative;
}

.player__window {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 150px;
  background-color: transparent;
  background: url("../img/video-mobile@1x.jpg") no-repeat center center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/video-mobile@2x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.player__button {
  width: 101px;
  height: 77px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  background: url("../img/icon-play.svg") no-repeat center center;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition: transform 0.1s;
    outline: none;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .player__window {
    min-height: 455px;
    background: url("../img/video-tablet@1x.jpg") no-repeat center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/video-tablet@1x.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .player__window {
    min-height: 455px;
    background: url("../img/video-desktop@1x.jpg") no-repeat center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/video-desktop@1x.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}
