.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78px;
  width: 100%;
  border-bottom: 1px solid $bordercolor;
}

.search__button {
  width: 100% / (320 / 75);

  @include offset;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__icon {
  display: block;
  margin: auto;
  padding-top: 4px;
  padding-left: 4px;
}

.search__field {
  width: 100% / (320 / 245);
  padding: 10px 0;
  margin: 0;
  border: none;
  font-family: $mianfont;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  &::placeholder {
    font-family: $mianfont;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .search {
    width: 82px;
    min-height: 88px;
    border-bottom: none;
    border-left: 1px solid $bordercolor;
    border-right: 1px solid $bordercolor;
  }

  .search__button {
    width: auto;
  }

  .search__icon {
    margin: 0;
  }

  .search__field {
    width: auto;
    display: none;
  }
}
