.title {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;

  &--catalog,
  &--form {
    font-size: 27px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0 0 30px 0;
    padding: 70px 0 75px 0;
  }

  &--form {
    margin-bottom: 22px;
  }

  &--manufacture {
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 43px;
    line-height: 50px;

    &--catalog,
    &--form {
      margin-top: -60px;
      padding-top: 98px;
      position: relative;
      margin-bottom: 82px;

      &::after {
        display: block;
        content: "";
        height: 11px;
        width: 100%;
        background: url("../img/bg-zigzag-fill.svg") repeat-x center 0;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &--form {
      padding-top: 95px;
      padding-bottom: 78px;
      margin-bottom: 75px;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 53px;
    line-height: 57px;

    &::after {
      height: 34px;
      background-size: 1150px 34px;
    }

    &--catalog,
    &--form {
      margin-top: -44px;
      margin-bottom: 112px;
      padding-top: 93px;
      padding-bottom: 120px;
    }

    &--form {
      margin-bottom: 105px;
    }
  }
}
