.top-product {
  padding-top: 26px;
  padding-bottom: 36px;
}

.top-product__title {
  padding-top: 0;
  margin: 0 0 5px 0;
}

.top-product__alert {
  display: block;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  line-height: 20px;
  color: $aquamarine;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.top-product__description {
  @include offset;
  color: $maingrey;
  line-height: 24px;
  margin-bottom: 27px;
}

.top-product__image {
  width: 100%;
  height: auto;
  margin: 0 0 21px 0;
  display: block;
}

.top-product__price {
  margin: 0 0 23px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: $maingrey;
}

.top-product__characteristics {
  width: 100%;
  color: $maingrey;
  line-height: 20px;
  border-spacing: 0;
  margin-bottom: 19px;
}

.top-product__tbody {
  @include offset;
  display: flex;
  flex-direction: column;
}

.top-product__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $bordercolor;
  padding-bottom: 10px;
  margin-bottom: 9px;
}

.top-product__parameter,
.top-product__value {
  @include offset;
}

.top-product__parameter {
  min-width: 97px;
}

.top-product__value {
  min-width: 163px;
}

@media (min-width: $tablet-width) {
  .top-product {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 51px;
  }

  .top-product__title {
    margin-bottom: 0;
    margin-left: -3px;
    padding-right: 25px;
  }

  .top-product__alert {
    text-align: center;
    width: 11%;
    padding: 12px 25px 4px 25px;
    margin-left: auto;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 17px;
  }

  .top-product__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 414px;
  }

  .top-product__info {
    width: 292 / 668 * 100%;
    margin-right: 42px;
    flex-grow: 1;
  }

  .top-product__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .top-product__characteristics {
    margin-bottom: 47px;
  }

  .top-product__value {
    padding-right: 31px;
  }

  .top-product__image {
    width: 333px;
    height: 404px;
    margin-bottom: 0;
    padding-top: 10px;
  }

  .top-product__buy {
    width: 292 / 668 * 100%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: -110px;
  }

  .top-product__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .top-product {
    padding-top: 70px;
    width: 1150px;
    min-height: 803px;
    position: relative;
    flex-direction: column;
  }

  .top-product__alert {
    margin-left: 0;
    position: absolute;
    left: 45px;
    top: 127px;
  }

  .top-product__title {
    padding-right: 0;
    position: absolute;
    left: 222px;
    top: 123px;
    z-index: 10;
  }

  .top-product__info {
    width: 292px;
    margin-right: 0;
    padding-left: 175px;
    padding-top: 159px;
    padding-right: 25px;
  }

  .top-product__description {
    width: 292px;
    margin-right: 0;
    margin-bottom: 57px;
  }

  .top-product__characteristics {
    width: 292px;
  }

  .top-product__buy {
    width: 292px;
    margin-left: 175px;
  }

  .top-product__image {
    width: 100%;
    height: 636px;
    padding-top: 0;
    box-sizing: border-box;
  }
}
