.top-product {
  @include offset;
}

.top-product__info {
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  line-height: 20px;
  color: $aquamarine;
  text-transform: uppercase;
}

.top-product__description {
  @include offset;
  color: #444444;
}

.top-product__price-field {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #444444;
}

.top-product__characteristics-table {
  color: #444444;
  line-height: 20px;
}
